<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-2rsdZQvXbn8-gc6_ZdwoBAIREoNfa7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>735593076063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appopay.appopay.wallet</string>
	<key>PROJECT_ID</key>
	<string>appo-44db5</string>
	<key>STORAGE_BUCKET</key>
	<string>appo-44db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735593076063:ios:f4102b3f8c821b1e5912ea</string>
</dict>
</plist>