<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PROD API</key>
	<string>${PROD_API}</string>
	<key>Server One</key>
	<string>${Server_One}</string>
	<key>System API</key>
	<string>${System_API}</string>
	<key>UIAppFonts</key>
	<array>
		<string>GlacialIndifference-Bold.otf</string>
		<string>GlacialIndifference-Regular.otf</string>
		<string>GlacialIndifference-Italic.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AppBackground</string>
	</dict>
    
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera for scanning QR.</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for audio purpose.</string>

    <key>NSFaceIDUsageDescription</key>
    <string>We need to use Face ID for authentication purposes.</string>
</dict>
</plist>
